<p>
The search parameters that are mandated as a minimum in the API for the {{include.resource}} resource are in the table below. 
</p>
<p>
Query parameters conformance will be categorised as:
</p>
<p>
<b>MUST</b> - these search parameters MUST be implemented for the specified resource type.
</p>
<p>
<b>SHOULD</b> - these search parameters are expected to be implemented, if the data to support the query is present in the host system.
</p>
Additional search parameters MAY be added to reflect local requirements.
<p>
To be conformant, provider systems are required to implement all of the MUST parameters.
</p>

<p>
The parameters can be used independently or in combination to help refine the search results returned.  This section outlines the search parameter syntax used, with some examples provided.

<!--The search parameters supported in the API for the {{include.resource}} resource are in the table below. The parameters can be used independently or in combination to help refine the search results returned.  This section outlines the search parameter syntax used, with some examples provided.-->
</p>

